body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f9fa;
    padding:20px 50px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 72px;
    padding: 6px 1%;

    background: rgba(255, 255, 255, 0.93);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid #e5eaf0;
}

.home {
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
}

h1 {
    font-family: "Libre Bodoni", serif;
}

p {
    font-family: "Libre Bodoni", serif;
}

nav a{
    text-decoration:none;
    display: flex;
    margin-left:20px;
    color:black;
    flex-direction: row;
}