body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f9fa;
    padding:20px 50px;
}

h1 {
    font-family: "Libre Bodoni", serif;
}

p {
    font-family: "Libre Bodoni", serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:white;
    flex-direction: row;
}

nav a{
    text-decoration:none;
    display: flex;
    margin-left:20px;
    color:black;
    flex-direction: row;
}